.carousel-text, .carousel-subtext {
    font-size: 24px; /* Ukuran teks */
    margin: 10px 0;
    padding: 10px;
    text-align: center; /* Rata tengah teks */
    transition: opacity 0.5s ease-in-out; /* Animasi transisi */
    opacity: 1; /* Opacity default */
  }
  
  .carousel-text {
    font-weight: bold;
    color: #2c3e50; /* Warna teks utama */
  }
  
  .carousel-subtext {
    font-size: 18px;
    color: #7f8c8d; /* Warna teks sub */
  }
  
.carousel-container {
    position: relative;
    width: 100%;
    height: 600px; 
    overflow: hidden;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    background: rgba(32, 32, 32, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    border-radius: 30%;
  }

  .carousel-button:hover {
    background: rgba(201, 191, 191, 0.5);
  }
 
  .carousel-button.left {
    left: 10px;
  }
  
  .carousel-button.right {
    right: 10px;
  }
  
  .carousel-image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  .carousel-container {
    position: relative;
  }
  
  .carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: center;
    font-family: 'Arial', sans-serif;
    }

  .logo {
    display: flex;
    flex-shrink: 0;
    gap: 0;
    padding: 0;
    animation: infinite-scroll 5s linear infinite;
  }

  .logo-container {
    color: white;
    background-color: rgb(1, 1, 48);
    overflow: hidden;
    display: flex;
    height: 13vh;
    font-size: 1.5rem;
  }

  @keyframes infinite-scroll{
    from {
      transform: translateX(50);
    }
    to {
        transform: translateX(-100%);
    }
  }
  
  @media (max-width: 769px) {
      .carousel-container {
        position: relative;
        width: 100%;
        height: 450px; 
        overflow: hidden;
      }
      .logo-container {
        color: white;
        background-color: rgb(1, 1, 48);
        overflow: hidden;
        display: flex;
        height: 8vh;
        font-size: 1.2rem;
      }
}
  