@media (max-width: 768px) {
    .responsive-table th,
    .responsive-table td {
      font-size: 12px;
      padding: 8px;
    }
  }
  
  /* Aturan untuk layar dengan lebar maksimum 480px (mobile) */
  @media (max-width: 480px) {
    .responsive-table th,
    .responsive-table td {
      font-size: 10px;
      padding: 4px;
    }
}